<section class="features">
    <div class="containre">
        <div class="A1">
            <h1>
                What’s in it for you?
                Here’s what you get with the Algoblend Cv Maker:
            </h1>
        </div>
        <div class="row">
            <div class="col">
                <img src="assets\img\feature1.png">
            </div>
            <div class="col" style="padding-top:200px ;">
                <h5>1.Professional templates for all types of jobs</h5>
                <p>Bothered by the CV templates available elsewhere? Thankfully, Algoblend CV maker offers you 18 template designs that you can fully customize and make just the way you want. For any job.</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-top:200px ;">
                <div class="col2" style="padding-left: 70px;">
                    <h5>2.Cv Score</h5>
                    <p>Get a score for your CV and see how it compares against your competitors. With personalized suggestions for improvement, you’ll have a top-notch CV with minimal effort.</p>
                </div>
               
            </div>
            <div class="col">
                <img src="assets\img\feature2.png">
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <img src="assets\img\feature3.png">
            </div>
            <div class="col" style="padding-top:200px ;">
                <h5>3.Built-in cover letter creator</h5>
                <p>Taking hours to write your cover letter? Not with Algoblend. You’ll write a cover letter in minutes and with zero frustration. Find out more about our cover letter builder</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-top:200px ;">
                <div class="col2" style="padding-left: 70px;">
                    <h5>4.Lightweight Chrome plugin</h5>
                    <p>You’ll autofill all the online applications with only a few clicks, enabling you to apply for more jobs quickly and easily. See for yourself.</p>
                </div>
               
            </div>
            <div class="col">
                <img src="assets\img\feature4.png">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="assets\img\feature5.png">
            </div>
            <div class="col" style="padding-top:200px ;">
                <h5>5.Ready-to-use content suggestions for all major professions</h5>
                <p>You won’t have to worry about writer’s block ever again. The Zety CV maker comes with job-specific content written by our experts. Simply drag and drop entire paragraphs onto your CV—it’s that easy!</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-top:200px ;">
                <div class="col2" style="padding-left: 70px;">
                    <h5>6.CV file in various formats</h5>
                    <p>No need for multiple software or file format conversion. You’ll download your CV in PDF, Word, or even JPG, all in one place. You can edit, save, and download as many versions of your CV as you want, thanks to unlimited cloud storage.</p>
                </div>
               
            </div>
            <div class="col">
                <img src="assets\img\feature6.png">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="assets\img\feature7.png">
            </div>
            <div class="col" style="padding-top:200px ;">
                <h5>7.Reformatted version of your old CV</h5>
                <p>Already have a CV? Help it reach the highest standard and become fully ATS-compatible with a single click. Upload your old CV to the cloud and let our software do its magic. You can come back to it later and edit it as your career progresses.</p>
            </div>
        </div>
    </div>
</section>